body {
  background-color: #232323;
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 40px;
}

#container {
  max-width: 600px;
  margin: auto;
}

.square {
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
  border-radius: 10%;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
  margin-bottom: 80px;
}
