body {
  background-color: #232323;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  background: #4178aa;
  color: white;
  text-align: center;
  line-height: 1.1;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

#colorDisplay {
  font-size: 200%;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 100%;
}

.square {
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
  border-radius: 10%;
  cursor: pointer;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
  font-size: 1rem;
  padding: 0;
  margin-bottom: 20px;
}

#message {
  display: inline-block;
  min-width: 90px;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 30px;
}

.selected {
  background: #4178aa;
  color: white;
  border: none;
}

button {
  color: #4178aa;
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
}
